<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sailboat Price Analyzer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript" th:src="@{/js/src/index.js}" defer></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    </head>
    <body>
        <div id="app">
            {{ message }}
        </div>
        <table>
            <tr>
                <th>LENGTH</th>
                <th>YEAR</th>
                <th>MAKE</th>
                <th>PRICE</th>
            </tr>
            <tr th:each="sailboatDatum : ${sailboatData}">
                <td th:text="${sailboatDatum.length}">Length ...</td>
                <td th:text="${sailboatDatum.year}">Year ...</td>
                <td th:text="${sailboatDatum.make}">Make ...</td>
                <td th:text="${sailboatDatum.price}">Price ...</td>
            </tr>
        </table>
    </body>
</html>
